/* HEADER */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0px;
  z-index: 1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container nav .links li {
  margin-right: 4.8rem;
}

header .container nav .social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 3.4rem;
  margin-left: 4rem;
}

header .container nav .social a img {
  transition: all 0.2s;
}

header .container nav .social a img:hover {
  filter: brightness(90%);
  transform: translateY(-5%);
}

/* * MAIN */

/* ! #HERO */
.hero {
  background-image: url(../img/s-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 24rem;
  max-width: 59.2rem;
}

.hero .container .title h1 {
  color: var(--white-color);

  font-family: "Inter", "Poppins";
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.7rem;
}

.hero .container .title h1 span {
  color: var(--primary-color);
}

.hero .container .title h2 {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2.6rem;
  line-height: 3.6rem;
}

.hero .container .title p {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  margin-top: 2.6rem;
  line-height: 2.7rem;
  color: rgba(220, 246, 75, 0.8);
}

.hero .container .shields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  margin-top: 2.3rem;
}

.hero .container .arrow {
  margin: 3rem 0;
}

/* ! #CARDS */
.cards {
  display: none;
}

/* ! #ABOUT */
.about {
  padding: 20rem 0;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

.about .container .left {
  max-width: 70rem;
}

.about .container .left p {
  font-weight: 300;
  font-size: 1.6rem;
  margin-top: 2.4rem;
}

.about .container .left .social {
  display: flex;
  gap: 1.6rem;
  margin-top: 3.2rem;
}

.about .container .left .social a img {
  transition: all 0.2s;
}

.about .container .left .social a img:hover {
  transform: translateY(-12%);
  filter: brightness(80%);
}

.about .container .picture img {
  border-radius: 2.5rem;
  width: 35rem;
  height: 35rem;
  filter: grayscale(20%);
}

/* ! #CASES */
.cases {
  display: none;
}

/* ! #CONTACT */
.contact {
  padding: 10rem 0;
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact .container .title h2 {
  margin-bottom: 2.2rem;
}

.contact .container form {
  width: 100%;
  max-width: 48.6rem;
}

.contact .container form .submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.contact .container form .submit button[type="submit"] {
  border-radius: 2.4rem;
  background-color: var(--primary-color);
  padding: 1rem 2.4rem;
  border: none;
  margin-top: 1.6rem;
  font-weight: 700;
  font-size: 1.7rem;

  transition: all 0.4s;
}

.contact .container form .submit button[type="submit"]:hover {
  transform: scale(1.06);
}

.contact .container .inputs input {
  margin-bottom: 3.1rem;
}

/* * FOOTER */
footer {
  padding: 3.4rem 0;
  background-color: var(--semi-black);
}

footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

footer .container .social a img {
  transition: all 0.2s;
}

footer .container .social a img:hover {
  transform: translateY(-12%);
  filter: brightness(80%);
}

footer .container p {
  line-height: 2.8rem;
  margin-top: 1.2rem;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

footer .container p span {
  color: var(--primary-color);
}
